VITE_OPENWEATHER_API_KEY = OpenWeather_인증키
VITE_KMA_API_KEY = 기상청_API허브_인증키
VITE_KHOA_API_KEY = 공공데이터포털_Decoding_인증키

COPERNICUSMARINE_SERVICE_USERNAME = Copernicus_계정_이메일
COPERNICUSMARINE_SERVICE_PASSWORD = Copernicus_계정_비밀번호
